body {
  background-color: black;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  border-radius: 8px;
}
.chattingSection {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 100%;
  background-color: gray;
}
.messageSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
