.message {
  margin-left: 20px;
  display: flex;
  gap: 8px;
}
input {
  width: 100%;
  border-radius: 8px;
  padding: 12px 16px;
  border: 1px solid #eee;
}
input:hover {
  border: 1px solid #ccc;
}
